/* ==========================================================================
   Default
   ========================================================================== */

* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
}

body {
	background: #ffffff;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	color: #5d6566;
	line-height: 28px;
	text-align: center;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.main-wrapper, .column, .slideshow {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.main-wrapper {
	max-width: 960px;
}

.column {
	max-width: 580px;
}

.content {
	padding: 20px;
}

.content a {
	font-weight: 700;
	color: #fc058b;
	text-decoration: none;
}

/* ==========================================================================
   Elements
   ========================================================================== */

h1, h2 {
	font-weight: 700;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: #fc058b;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
}

h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	line-height: 28px;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 25px;
}

img {
	padding: 20px 0;
	width: 100%;
	height: auto;
}

hr {
	display: block;
	height: 1px;
	width: 80%;
	background: #fc058b;
	font-size: 0;
	border: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header, .logo {
	width: 275px;
}

.logo {
	margin: 15px 0;
	height: 117px;
}

/* ==========================================================================
   Slideshow
   ========================================================================== */


.slideshow img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-wrapper {
	width: 100%;
	background: #f4f4f4;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
}

.footer-wrapper ul {
	padding: 0px;
}
.footer-wrapper li {
	list-style-type: none;
	margin-bottom: 15px;
	line-height: 1.5em;
	position: relative;
}

.footer-wrapper li:before {
	position: absolute;
	min-height: 17px;  
	width:24px;
	content:" ";
	vertical-align: middle;
}

.footer-wrapper li.email:before {
	margin: 5px 0 0 -35px;
	background-position: -169px -139px;
}

.footer-wrapper li.phone:before {
	margin: 5px 0 0 -20px;
	background-position: -193px -139px;
}

.footer-wrapper a:link {
	color: #00ccff;
	text-decoration: none;
}
.footer-wrapper a:hover {
	color: #fc058b;
}

.footer-wrapper a:before {
	content: "\A";
	white-space: pre; 
}

address {
	font-style: normal;
	font-size: 14px;
}

/* ==========================================================================
   Form
   ========================================================================== */

form {
	margin: 0 auto;
	max-width: 300px;
}

label {
	display: block;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 700;
	color: #5d6566;
	text-transform: uppercase;
}

input, textarea {
	display: block;
	margin: 0 0 20px;
	border: 1px solid #bec1c2;
	padding: 2px;
	width: 300px;
	text-align: center;
}

input {
	display: block;
	height: 35px;
}

textarea {
	display: block;
	height: 100px;
}

.submit {
	width: 300px;
	height: 35px;
	line-height: 35px;
	margin: 10px 0 15px 0;
	border: none;
	background: #00ccff;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 2px;
}

.submit:hover {
	background: #fc058b;
}

.submit a {
	color: #ffffff !important;
}

.submit a:after {
	display: inline;
	position: absolute;
	content: " ";
	width: 36px;
	height: 23px;
	margin: 5px 0 0 10px;
}

/* ==========================================================================
   Mobile Media Query - save bandwith - only load necessary images for mobile
   ========================================================================== */

@media only screen and (max-width: 640px) {
	.logo {
		background: url('../images/sprite@2x.png') no-repeat -12px -11px;
		background-size: 300px 214px;
	}
	.submit a:after {
		background: url('../images/sprite@2x.png') -132px -139px;
		background-size: 300px 214px;
	}	
	.footer-wrapper li:before {
		background: url('../images/sprite@2x.png') no-repeat;
		background-size: 300px 214px;	
	}
}

/* ==========================================================================
   Desktop Media Query - adapt layout for Desktop and Larger resolutions
   ========================================================================== */

@media only screen and (min-width: 641px) {

	/* ==========================================================================
	   Layout
	   ========================================================================== */

	.content {
		padding: 20px 0 20px 0;
	}

	/* ==========================================================================
	   Elements
	   ========================================================================== */

	h2 {
		font-size: 25px;
		line-height: 35px;
	}

	img {
		padding: 20px;
		width: 320px;
	}

	/* ==========================================================================
	   Header
	   ========================================================================== */

	.header, .logo {
		width: 275px;
	}

	.logo {
		background: url('../images/sprite@1x.png') -12px -11px;
	}

	/* ==========================================================================
	   Footer
	   ========================================================================== */

	.footer-wrapper li:before {
		background: url('../images/sprite@1x.png') no-repeat;
	}

	.footer-wrapper a:before {
		content: none;
		white-space: none; 
	}

	.footer-wrapper small {
		font-size: 14px;
	}

	/* ==========================================================================
	   Form
	   ========================================================================== */
	
	.submit a:after {
		background: url('../images/sprite@1x.png') -133px -139px;
	}
}
